/*carregamento de fontes*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


/*reset e configuração global*/
* {
    margin: 0; /*remove todas as margens padrão dos elementos*/
    padding: 0; /*remove todos os preenchimentos internos padrão*/
    box-sizing: border-box; /*faz com que a largura e altura dos elementos incluam padding e border sem aumentar o tamanho total.*/
    font-family: 'Roboto Condensed', sans-serif; /*define roboto como principal fonte da página e se não conseguir carregar usa sans-serif*/
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../imgs/image2.jpg') no-repeat;
    background-size: cover;
    background-position: center;

}

/*estilização do cabeçalho*/
header {
    /*background: rgb(142, 142, 224); /*define a cor de fundo do cabeçalho*/
    position: fixed; /*mantém o cabeçalho fixo no topo da página, mesmo se rolar*/
    top: 0; /*garante o posicionamento do cabeçalho no topo*/
    left: 0; /*garante o posicionamento do cabeçalho na parte esquerda*/
    width: 100%;/*ocupa toda a largura da tela*/
    padding: 20px 100px;/*adiciona um espaçamento interno de 20px no topo e na base, e 100px nas laterais*/
    display: flex; /*organiza os elementos do cabeçalho em linha*/
    flex-wrap: wrap;  /* os elementos quebram para a próxima linha se necessário (responsividade) */
    justify-content: space-between; /*distribui os elementos uniformemente, deixando espaço entre eles.*/
    align-items: center; /*centraliza os itens verticalmente*/
    z-index: 99;/*garante que o cabeçalho fique sobre outros elementos*/
}

/*estilizaçao do titulo*/
.title {
    color: #ffffff;
    user-select: none; /*impede que o usuário selecione o texto do título*/
}


/*estilização do menu de navegação*/
.navigation {
    display: flex; /*organiza os links da navegação em linha*/
    flex-wrap: wrap; /*ermite que os links quebrem de linha quando não couberem (evita aperto)*/
    align-items: center; /*centraliza os links verticamlmente*/
    gap: 20px; /* espaço entre os itens */
}


/*estilização dos links do menu*/
.navigation a {
    position: relative; /*permite futuras alterações posicionais no link*/
    color: #ffffff; 
    text-decoration: none; /*sem sublinhado*/
    font-weight: 500; 
    margin-left: 40px; /*espaço entre os links (remover?)*/
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 3px;
    background: #ffffff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

/*estilização do botão*/
.navigation .button-login {
    width: 130px; /*tamanho do botão*/
    height: 50px; /*tamanho do botão*/
    background: transparent; 
    border: 2px solid #ffffff;
    /*outline: none;*/
    border-radius: 6px; /*arredondar os cantos*/
    cursor: pointer; /*altera o cursor para mão*/
    font-size: 1.1em; 
    color: #ffffff;
    font-weight: 500; 
    margin-left: 40px; /*espaço a esquerda*/ 
    transition: .5s; /*animação suave*/
}

/*efeito hover*/
.navigation .button-login:hover {
    background: #ffffff;
    color: #162938;
}


/*responsividade para telas pequenas*/
@media (max-width: 768px) {
    .navigation .button-login {
        width: 100px;
        height: 40px;
        font-size: 0.9em;
    }
}

/*ajuste do layout para telas pequenas*/
@media (max-width: 768px) {
    header {
        flex-direction: column; /*header vira coluna com links e botões empilhados*/
        text-align: center;/*alinhamento centralizado agora*/
    }

    .navigation {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    .navigation a,
    .navigation .button-login {
        margin-left: 0; /* Remove espaçamento lateral */
    }
}